<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud0072.apigrid.framework.mapper.UnitTeamMapper">

    <select id="selectTeamIdByParentIdIn" resultType="java.lang.Long">
        SELECT id
        FROM ${tablePrefix}unit_team
        WHERE is_deleted = 0
        AND parent_id IN
        <foreach item="item" index="index" collection="parentIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getRoleTeamByIds" resultType="com.cloud0072.apigrid.framework.vo.UnitRoleUserVo">
        SELECT
        vou.id as unitId,
        vorm.unit_type as unitType,
        vout.id as unitRefId,
        vout.team_name as unitName,
        vout.team_name as teamNames
        FROM ${tablePrefix}unit_role_user vorm
        LEFT JOIN ${tablePrefix}unit_team vout on vout.id = vorm.unit_ref_id and vout.is_deleted = 0
        LEFT JOIN ${tablePrefix}unit vou on vout.id = vou.unit_ref_id and vou.is_deleted = 0
        WHERE vout.id IN
        <foreach item="item" index="index" collection="refIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY vout.sort_num
    </select>

    <select id="selectTeamIdsByParentId" resultType="java.lang.Long">
        SELECT vout.id
        FROM ${tablePrefix}unit_team vout
        WHERE vout.parent_id = #{parentId}
          AND vout.is_deleted = 0
        ORDER BY vout.sort_num
    </select>

    <select id="selectUnitTeamVoByTeamIds" resultType="com.cloud0072.apigrid.framework.vo.UnitTeamVo">
        SELECT vou.id as unitId,
        vout.id as teamId,
        vout.team_name
        FROM ${tablePrefix}unit_team vout
        JOIN ${tablePrefix}unit vou on vout.id = vou.unit_ref_id
        WHERE vout.is_deleted = 0
        AND vout.id IN
        <foreach item="item" index="index" collection="teamIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
