<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud0072.apigrid.framework.mapper.UnitMemberMapper">

    <select id="selectTeamIdByParentIdIn" resultType="java.lang.Long">
        SELECT id
        FROM ${tablePrefix}unit_team
        WHERE parent_id IN
        <foreach item="item" index="index" collection="parentIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>

</mapper>
