<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud0072.apigrid.framework.mapper.UnitMemberMapper">

    <resultMap id="MemberUserVo" type="com.cloud0072.apigrid.framework.vo.MemberUserVo">
        <result column="id" property="memberId"/>
        <result column="member_name" property="memberName"/>
        <result column="status" property="status"/>
        <result column="is_admin" property="isAdmin"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="spc_id" property="spcId"/>

        <result column="team_id" property="teamId"/>
        <result column="team_name" property="teamName"/>
        <result column="team_ids" property="teamIds"/>
        <result column="team_names" property="teamNames"/>

        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="nick_name" property="nickName"/>
        <result column="avatar" property="avatar"/>
        <result column="avatar_color" property="avatarColor"/>
    </resultMap>

    <select id="pageMemberUserByRootTeamId" resultMap="MemberUserVo">
        SELECT vom.id,
               vom.member_name,
               vom.is_deleted,
               vom.is_admin,
               vom.create_time,
               vom.update_time,
               vu.user_id,
               vu.username,
               vu.nick_name,
               vu.avatar,
               vu.avatar_color,
               vu.mobile,
               vu.email,
               GROUP_CONCAT(distinct vout.id ORDER BY voutm.create_time DESC) AS team_ids
        FROM ${tablePrefix}unit_member vom
                 LEFT JOIN ${tablePrefix}unit_team_member voutm ON voutm.member_id = vom.id
                 LEFT JOIN ${tablePrefix}unit_team vout ON vout.id = voutm.team_id
                 LEFT JOIN ${tablePrefix}user vu ON vom.user_id = vu.user_id
        WHERE vom.is_deleted = #{isDeleted}
        GROUP BY vom.id
    </select>

    <select id="pageMemberUserByTeamIds" resultMap="MemberUserVo">
        SELECT
        vom.id,
        vom.member_name,
        vom.is_deleted,
        vom.is_admin,
        vom.create_time,
        vom.update_time,
        vu.user_id,
        vu.username,
        vu.nick_name,
        vu.avatar,
        vu.avatar_color,
        vu.mobile,
        vu.email,
        GROUP_CONCAT(distinct vout.id ORDER BY voutm.create_time DESC) AS team_ids
        FROM ${tablePrefix}unit_member vom
        LEFT JOIN ${tablePrefix}unit_team_member voutm ON voutm.member_id = vom.id
        LEFT JOIN ${tablePrefix}unit_team vout ON vout.id = voutm.team_id
        LEFT JOIN ${tablePrefix}user vu ON vom.user_id = vu.user_id
        WHERE vom.is_deleted = #{isDeleted} and voutm.team_id IN
        <foreach item="item" index="index" collection="teamIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY vom.id
    </select>

    <select id="getMemberUserById" resultMap="MemberUserVo">
        SELECT vom.id,
               vom.member_name,
               vom.is_deleted,
               vom.is_admin,
               vom.create_time,
               vom.update_time,
               vu.user_id,
               vu.username,
               vu.nick_name,
               vu.avatar,
               vu.avatar_color,
               vu.mobile,
               vu.email,
               GROUP_CONCAT(distinct vout.id ORDER BY voutm.create_time DESC) AS team_ids
        FROM ${tablePrefix}unit_member vom
                 LEFT JOIN ${tablePrefix}unit_team_member voutm ON voutm.member_id = vom.id
                 LEFT JOIN ${tablePrefix}unit_team vout ON vout.id = voutm.team_id
                 LEFT JOIN ${tablePrefix}user vu ON vom.user_id = vu.user_id
        WHERE vom.id = #{id}
        GROUP BY vom.id
    </select>

    <select id="getRoleMemberByIds" resultType="com.cloud0072.apigrid.framework.vo.RoleMemberVo">
        SELECT
        vou.id as unitId,
        vorm.unit_type as unitType,
        vom.id as unitRefId,
        vom.member_name as unitName,
        vu.avatar,
        vu.avatar_color as avatarColor,
        vu.nick_name as nickName,
        GROUP_CONCAT(DISTINCT vout.team_name ORDER BY voutmr.create_time DESC SEPARATOR ' | ') as teamNames
        FROM ${tablePrefix}unit_role_member vorm
        LEFT JOIN ${tablePrefix}unit_member vom on vorm.unit_ref_id = vom.id and vom.is_deleted = 0
        LEFT JOIN ${tablePrefix}unit vou on vom.id = vou.unit_ref_id and vou.is_deleted = 0
        LEFT JOIN ${tablePrefix}unit_team_member voutmr on vom.id = voutmr.member_id
        LEFT JOIN ${tablePrefix}unit_team vout on voutmr.team_id = vout.id and vout.is_deleted = 0
        LEFT JOIN ${tablePrefix}user vu on vom.user_id = vu.user_id
        WHERE vom.id IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY vom.id
    </select>

    <select id="selectUnitMemberByMemberIds" resultType="com.cloud0072.apigrid.framework.vo.UnitMemberVo">
        SELECT
        vou.id as unit_id,
        vu.user_id as userId,
        vom.id as member_id,
        vom.member_name as member_name,
        vom.is_locked,
        vom.is_admin,
        IF(vu.mobile != '' or vu.mobile is not null, CONCAT(LEFT(vu.mobile,3), '****' ,RIGHT(vu.mobile,4)), vu.mobile)
        as mobile,
        vu.email,
        vu.avatar,
        vu.avatar_color as avatarColor,
        vu.nick_name as nickName,
        GROUP_CONCAT(DISTINCT vout.team_name ORDER BY voutmr.id DESC SEPARATOR ' | ') as teamNames
        FROM ${tablePrefix}unit_member vom
        LEFT JOIN ${tablePrefix}unit vou on vom.id = vou.unit_ref_id AND vou.is_deleted = 0
        LEFT JOIN ${tablePrefix}user vu on vom.user_id = vu.user_id AND vu.is_locked = 0 AND vu.is_deleted = 0
        LEFT JOIN ${tablePrefix}unit_team_member voutmr on vom.id = voutmr.member_id
        LEFT JOIN ${tablePrefix}unit_team vout on voutmr.team_id = vout.id and vout.parent_id != 0 and vout.is_deleted =
        0
        WHERE vom.id IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND vom.is_deleted = 0
        GROUP BY vom.id
    </select>

</mapper>
